/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$primary: #390099;
$secondary: #4d4847;

@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Epilogue');

img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  width: 100%;
}

.test:hover img {
  opacity: 0.3;
}

.test:hover .hover-text {
  opacity: 1;
}

.text {
  color: #1c3738;
  font-size: 16px;
}

body {
  background-color: #9E0059 !important;
  font-family: 'Epilogue' !important;
}

.parent-container {
  display: flex;
}

.border-right {
  border-right: 3px solid #1C3738 !important;
}

.container {
  padding-top: 10px;
  color: #FFBD00;

  button {
    background: transparent;
    border: none;
 }
}
